<div class="blog-container">
  <div class="index-container">
    <% @articles.each do |article| %>

      <%= react_component("Article", {title: article.title, body: article.body }) %>
      
    <% end %>

    <%= link_to 'New Article', new_article_path %>
  </div>
</div>
