<div class="blog-container">
  <div class="index-container">
    <% @articles.each do |article| %>

      <div class="article-container">
        <%= react_component("Article", {title: article.title, body: article.body }) %>
      </div>

    <% end %>

    <%= link_to 'New Article', new_article_path %>
  </div>
</div>
