<div class="blog-container">
  <div class="index-container">
    <%= react_component("Article", {
                          id: @article.id,
                          title: @article.title,
                          body: @article.body
                        }) %>

    <% if logged_in? %>
      <%= react_component("AdminControl", { articleId: @article.id }) %>
    <% end %>

    <p>
        <%=
          link_to 'Delete', article_path(@article),
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
    </p>

    <%= link_to 'Back', articles_path %>
  </div>
</div>
