// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global';

.blog-container {
  width:       100%;
  height:      100%;
  margin:      auto;
  background:  #EFEEEF;
}

.index-container {
  width:       55%;
  height:      100%;
  margin:      auto;
  background:  #F4F7F5;
}

// modularize these styles:
.article {
  padding: 10px;
}

// AdminControl component:

.article-admin-cntrl {
  padding: 10px;
  background: pink;
}
